*{
	margin: 0px;
	padding: 0px;

}

.contact_sec{
	background: url(mountain.jpg) no-repeat center;
	background-size: cover;
	padding: 40px 0px;

}

.contact_sec h1{
	color: #ddd;
	text-align: center;
}

.border{
	width: 100px;
	height: 10px;
	background-color: #34495e;
	margin: 40px auto;
}

.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0px 10px;
	overflow: hidden;
}

.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0px;
	border:0;
	background-color: #111;
	padding: 10px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;


}

.contact-form-text:focus{
	box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
	resize: none;
	height: 120px;
}

.contact-form-btn{
	float: right;
	border: none;
	background-color: #34495e;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	transition: 0.5s;
	cursor: pointer;
	outline: none;
}
.contact-form-btn:hover{
	background-color: #2980b9;
}